---
import ProfileSection from "./components/profile-section.astro";
import { SubHeader } from "../../components/subheader/subheader";
import { PostCardGrid } from "components/post-card/post-card-grid";
import { UnicornInfo, PostInfo } from "types/index";
import { Button } from "../../components";
import styles from "./unicorn-page.module.scss";
import * as api from "utils/api";
import { isDefined } from "utils/is-defined";

interface UnicornPageProps {
	unicorn: UnicornInfo;
	posts: PostInfo[];
}

const { unicorn, posts } = Astro.props as UnicornPageProps;

const postsToDisplay = posts.slice(0, 6);
const showPostsToggle = posts.length > postsToDisplay.length;

const postAuthors = new Map(
	[...new Set(posts.flatMap((p) => p.authors))]
		.map((id) => api.getPersonById(id))
		.filter(isDefined)
		.map((u) => [u.id, u]),
);
---

<div class={styles.container}>
	<ProfileSection unicorn={unicorn} />
	<section class={styles.contentContainer}>
		{
			postsToDisplay.length
				? [
						<SubHeader
							tag="h2"
							text="Recent articles"
							id="recent-articles-header"
						>
							{showPostsToggle && (
								<Button
									tag="a"
									href={`/page/1`}
									aria-labelledby="recent-articles-header"
								>
									{"View all"}
								</Button>
							)}
						</SubHeader>,
						<PostCardGrid
							aria-labelledby={"recent-articles-header"}
							postsToDisplay={postsToDisplay}
							postAuthors={postAuthors}
							postHeadingTag="h3"
						/>,
					]
				: undefined
		}
	</section>
</div>
