---
import { Button, IconOnlyButton } from "components/index";
import DarkLightButton from "./dark-light-button/dark-light-button.astro";
import BackButton from "./back-button/back-button.astro";
import style from "./header.module.scss";
import logo from "src/assets/reikaze-full-logo.png?url";

const path = Astro.url.pathname;
const isHome = path === "/";

const props = Astro.props as {
	size: undefined | "l" | "xl";
};
---

<header id="header-bar" class={style.headerBorder} data-sticky-observer>
	<nav
		class={`${style.header} ${
			props.size === "xl" ? style.header_xl : ""
		} d-flex`}
	>
		{!isHome && <BackButton class={style.backButton} />}

		{
			!isHome && (
				<a href="/" class={`d-flex ${style.logo}`}>
					<img src={logo} alt={"Reikaze Rambles logo"} />
				</a>
			)
		}

		<div class={`d-flex ${style.icons}`}>
			{
				isHome ? (
					<DarkLightButton variant="large" class={style.themeToggleLarge} />
				) : undefined
			}
			<DarkLightButton variant="iconOnly" class={style.themeToggleSmall} />
		</div>
	</nav>
</header>
